@model ria.smc.associatesDto.EmployeeManagement.EmployeeInformationDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Employee Registration";
}

<link href="@Url.Content("~/vendors/jquery-steps/jquery.steps.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/vendors/dropify/dist/dropify.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/HR/employeeRegistration.css")" rel="stylesheet" type="text/css" />

<div class="page-content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="EmployeeList" asp-controller="EmployeeManagement" asp-area="HR">Employee</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registration</li>
        </ol>
    </nav>

    <div class="alert alert-danger alert-dismissible fade show d-none" id="errorAlertMessge" role="alert">
        <strong>Error!</strong>
        <p></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Employee Registration</h4>
                    <form id="employeeRegistrationForm" asp-action="EmployeeRegistration" method="post" role="form" enctype="multipart/form-data">
                        <input asp-for=EmployeeCode name="EmployeeCode" value="@ViewBag.MaxEmployeeCode" class="form-control d-none">
                        <input asp-for=EmployeeCategoryId name="EmployeeCategoryId" value="NULL" class="form-control d-none">
                        <input asp-for=Createdby name="Createdby" value="Admin" class="form-control d-none">
                        <h2>Personal Information</h2>
                        <section data-step="0">
                            <fieldset class="row">
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="EMPLOYEENAME">Employee Code</label>
                                    <input name="EmployeeCodeReadonly" value="@ViewBag.MaxEmployeeCode" id="EmployeeCode" class="form-control" maxlength="50" type="text" placeholder="Employee Code" disabled>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="EMPLOYEENAME">Employee Name</label>
                                    <input asp-for=EmployeeName name="EmployeeName" id="EMPLOYEENAME" class="form-control" maxlength="50" type="text" placeholder="Employee Name" required>
                                </div>
                                <div class="form-group col-md-5 col-sm-12">
                                    <label for="PROFILE">Profile Picture</label>
                                    <input name="PROFILE" id="PROFILE" class="form-control" type="file" placeholder="Profile Picture">
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="CNIC">CNIC</label>
                                    <input asp-for=Cnic name="Cnic" id="CNIC" class="form-control" maxlength="15" type="text" placeholder="CNIC" data-inputmask-alias="99999-9999999-9" required>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="DATEOFBIRTH">Date of Birth</label>
                                    <div class="input-group date datepicker" id="datePicker_DATEOFBIRTH">
                                        <input asp-for=DateOfBirth name="DateOfBirth" id="DATEOFBIRTH" class="form-control" type="text" placeholder="Date of Birth" required>
                                        <span class="input-group-addon"><i data-feather="calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="FATHERNAME">Father Name</label>
                                    <input asp-for=FatherName name="FatherName" id="FATHERNAME" class="form-control" maxlength="50" type="text" placeholder="Father Name" required>
                                </div>
                                <div class="form-group col-md-2 col-sm-12">
                                    <label for="GENDER">Gender</label>
                                    <select asp-for=GenderId name="GenderId" id="GENDER" asp-items="@(new SelectList(ViewBag.GetGenders,"GenderId","Gender"))" class="form-control" required>
                                        <option value="" selected>Select Gender</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="MARITALSTATUS">Marital Status</label>
                                    <select asp-for=MaritalStatusId asp-items="@(new SelectList(ViewBag.GetMaritalStatus, "MaritalStatusId", "MaritalStatus"))" id="MARITALSTATUS" name="MaritalStatusId" class="form-control" required>
                                        <option value="" selected >Select Marital Status</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="BLOODGROUP">Blood Group</label>
                                    <select asp-for=BloodGroupId id="BLOODGROUP" name="BloodGroupId" asp-items="@(new SelectList(ViewBag.GetBloodGroups,"BloodGroupId","BloodGroup"))" class="form-control" required>
                                        <option value="" selected >Select Blood Group</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="NATIONALITY">Nationality</label>
                                    <input asp-for=Nationality name="Nationality" id="Nationality" class="form-control" maxlength="50" type="text" placeholder="Nationality" required>
                                </div>
                            </fieldset>
                           @* <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="PROFILEPICTURE">Profile Picture</label>
                                    <input type="file" name="PROFILEPICTURE" class="border" id="PROFILEPICTURE" accept="image/*" />
                                </div>
                            </fieldset>*@
                        </section>

                        <h2>Contact information</h2>
                        <section data-step="1">
                            <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="MOBILENO">Mobile Number</label>
                                    <input asp-for=MobileNo name="MobileNo" id="MOBILENO" class="form-control" maxlength="12" type="text" placeholder="Mobile Number" data-inputmask-alias="0399-9999999" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="EMAIL">Email</label>
                                    <input asp-for=Email name="EMAIL" id="EMAIL" class="form-control" maxlength="50" type="email" placeholder="Email">
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group col-md-12 col-sm-12 p-0">
                                    <label for="PERMANENETADDRESS">Permanenet Address</label>
                                    <input asp-for=PermanentAddress name="PermanentAddress" id="PERMANENETADDRESS" class="form-control" maxlength="3000" type="text" placeholder="Permanenet Address" required>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group col-md-12 col-sm-12 p-0">
                                    <label for="CURRENTADDRESS">Current Address</label>
                                    <input asp-for=CurrentAddress name="CurrentAddress" id="CURRENTADDRESS" class="form-control" maxlength="3000" type="text" placeholder="Current Address" required>
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="EMERGENCYCONTACTNAME">Emergency Contact Name</label>
                                    <input asp-for=EmergencyContactName name="EmergencyContactName" id="EMERGENCYCONTACTNAME" class="form-control" maxlength="50" type="text" placeholder="Emergency Contact Name" required>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="EMERGENCYCONTACTRELATION">Emergency Contact Relation</label>
                                    <input asp-for=EmergencyContactRelation class="form-control" id="EMERGENCYCONTACTRELATION" name="EmergencyContactRelation" required />
                                        
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="EMERGENCYCONTACTNUMBER">Emergency Contact Number</label>
                                    <input asp-for=EmergencyContactNumber name="EmergencyContactNumber" id="EMERGENCYCONTACTNUMBER" class="form-control" maxlength="12" type="text" placeholder="Emergency Contact Number" data-inputmask-alias="0399-9999999" required>
                                </div>
                            </fieldset>
                        </section>

                        <h2>Emplopyee Details</h2>
                        <section data-step="2">
                            <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="DATEOFJOINING">Date of Joining</label>
                                    <div class="input-group date datepicker" id="datePicker_DATEOFJOINING">
                                        <input asp-for=DateOfJoining name="DateOfJoining" id="DATEOFJOINING" class="form-control" type="text" placeholder="Date of Joining" required>
                                        <span class="input-group-addon"><i data-feather="calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="EMPLOYEETYPE">Employee Type</label>
                                    <select asp-for=EmployeeTypeId asp-items="@(new SelectList(ViewBag.GetEmployeeTypes, "EmployeeTypeId","EmployeeType"))" class="form-control" id="EMPLOYEETYPE" name="EmployeeTypeId" required>
                                        <option value="" selected>Select Employee Type</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="DESIGNATION">Designation</label>
                                    <input asp-for=Designation name="Designation" id="DESIGNATION" class="form-control" maxlength="50" type="text" placeholder="Designation" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="DEPARTMENT">Department</label>
                                    <input asp-for=Department name="Department" id="DEPARTMENT" class="form-control" maxlength="50" type="text" placeholder="Department" required>
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="EMPLOYEESTATUS">Employee Status</label>
                                    <select asp-for="EmployeeStatusId" asp-items="@(new SelectList(ViewBag.GetEmployeeStatus,"EmployeeStatusId","EmployeeStatus"))" class="form-control" id="EMPLOYEESTATUS" name="EmployeeStatusId" required>
                                        <option value="" selected>Select Employee Status</option>
                                    </select>
                                </div>
                            </fieldset>
                        </section>

                        <h2>Qualifications and Skills</h2>
                        <section data-step="3">
                            <fieldset class="row">
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="HIGHESTQUALIFICATION">Highest Qualification</label>
                                    <input asp-for=HighestQualification name="HighestQualification" id="HIGHESTQUALIFICATION" class="form-control" maxlength="50" type="text" placeholder="Highest Qualification" required>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="SPECILIZATION">Specilization</label>
                                    <input asp-for=Specialization name="Specialization" id="SPECILIZATION" class="form-control" maxlength="50" type="text" placeholder="Specilization">
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="CERTIFICATION">Certification</label>
                                    <input asp-for=Certification name="Certification" id="CERTIFICATION" class="form-control" maxlength="50" type="text" placeholder="Certification">
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="EXPERIENCE">Experience</label>
                                    <input name="EXPERIENCE" id="EXPERIENCE" class="form-control" maxlength="50" type="text" placeholder="Experience">
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="BASICSALARY">Basic Salary</label>
                                    <input asp-for=BasicSalary name="BasicSalary" id="BASICSALARY" class="form-control" maxlength="50" type="number" placeholder="Basic Salary">
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="GROSSSALARY">Gross Salary</label>
                                    <input asp-for=GrossSalary name="GrossSalary" id="GROSSSALARY" class="form-control" maxlength="50" type="number" placeholder="Gross Salary">
                                </div>
                            </fieldset>
                        </section>

                        <h2>Bank Details</h2>
                        <section data-step="4">
                            <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="BANKNAME">Bank Name</label>
                                    <input asp-for=BankName name="BankName" id="BANKNAME" class="form-control" maxlength="50" type="text" placeholder="Bank Name" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="BRANCH">Branch</label>
                                    <input asp-for=Branch name="Branch" id="BRANCH" class="form-control" maxlength="50" type="text" placeholder="Branch" required>
                                </div>
                            </fieldset>
                            <fieldset class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="ACCOUNTNUMBER">Account Number</label>
                                    <input asp-for=AccountNumber name="AccountNumber" id="ACCOUNTNUMBER" class="form-control" maxlength="200" type="text" placeholder="Account Number" required>
                                </div>
                            </fieldset>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/vendors/inputmask/jquery.inputmask.min.js")"></script>
<script src="@Url.Content("~/vendors/jquery-steps/jquery.steps.min.js")"></script>
<script src="@Url.Content("~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/vendors/moment/moment.min.js")"></script>
<script src="@Url.Content("~/vendors/jquery-validation/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/vendors/dropify/dist/dropify.min.js")"></script>
<script src="@Url.Content("~/js/HR/employeeRegistration.js")"></script>

<script>
    $(function () 
    {
        'use strict';
        if ("@ViewData["ErrorAlertMessge"]" != null && "@ViewData["ErrorAlertMessge"]" != "") {
            $("#errorAlertMessge").removeClass("d-none");
            $("#errorAlertMessge p").html("@ViewData["ErrorAlertMessge"]");
        }
    })
</script>
